/.env.local
/.env.*.local
/.env.prod
/vendor/
/var/cache/*
/var/log/*
/var/data/*
/var/test/*
!/var/cache/.gitkeep
!/var/log/.gitkeep
!/var/data/.gitkeep
!/var/test/.gitkeep
/.phpunit.cache/

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
