<!DOCTYPE html>
<html lang="{% block html_lang %}en{% endblock %}" class="{% block html_class %}{% endblock %}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}RunTracker{% endblock %}</title>
        <link rel="icon" type="image/svg+xml" href="/favicon.svg">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body class="{% block body_class %}{% endblock %}">
        {% block body %}{% endblock %}
    </body>
</html>
